/* Typography */

html {
	font-family: 'Roboto Mono', monospace;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

.pane {
	background: #ededed;
	color: #af1d24;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
}

.intro {
	font-size: 4em;
	font-weight: 600;
}

.tagline {
	font-size: 1.75rem;
	margin: 1.75rem 0;
	font-weight: 150;
	color: #ededed;
}

.divider {
	border-top: 10px solid #af1d24;
}

.noselect {
	user-select: none;
}

#portfolio {
	background: #cccccc;

}

#home {
	background: url('../assets/desk-background.jpeg');
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	text-shadow: 0 0 3px #36454f;
}

#about {
	background: #cccccc;
}

.icons-social i {
	padding: 10px;
	padding-bottom: 10px;
}

.icons-social a {
	color: #af1d24;
	opacity: 0.75;
}

.icons-social a svg path{
	fill: #af1d24;
}

.arrow-down {
	color: #ededed;
	text-decoration: none;
  text-align: center;
	padding-top: 4%;
	opacity: 0.75;
}

.arrow-up {
	color: #ededed;
	text-decoration: none;
	text-align: center;
	padding-bottom: 4%;
	opacity: 0.75;
}

/*.arrow-bg-up:hover {
	background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}*/

.navigation {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	padding: 10px;
}

.navigation a {
	padding-top: 10px;
	color: #ededed;
	text-decoration: none;
	opacity: 0.75;
	text-shadow: 0 0 3px #36454f;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon:hover {
	color: #af1d24;
	opacity: 1;
}

#logo:hover {
  stroke: #af1d24;
  stroke-width: 5px;
  fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  Animation: animate 1s infinite 0s alternate;
}

@keyframes animate {
  from {stroke-dashoffset: 500}
  to{stroke-dashoffset: 0}
}


.skills {
	width:30%;
	padding: 1%;
}

p{
  color:#525252;
  font-size:12px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}